---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MyPhoto from "../components/MyPhoto.astro";
import Constellation from "../components/Constellation.astro";
import Gallery from "../components/Gallery.astro";
import MySkills from "../components/MySkills.astro";
import Contact from "../components/Contact.astro";

import Blob from "../components/Part/Blob.astro";
---

<Layout>
  <div id="app">
    <Header />
    <MyPhoto />
    <Constellation />
    <Gallery />
    <MySkills />
    <Contact />
    <Blob />
  </div>
</Layout>

<style>
  #app {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
</style>
