<div class="blob"></div>

<style>
  .blob {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(-90 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%238c8c8c%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M775 597.5Q769 695 696 787t-188 66.5Q393 828 313 761T122 597q-111-97 2.5-192T314 236.5Q390 163 484 212t252 25.5Q894 214 837.5 357T775 597.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M775 597.5Q769 695 696 787t-188 66.5Q393 828 313 761T122 597q-111-97 2.5-192T314 236.5Q390 163 484 212t252 25.5Q894 214 837.5 357T775 597.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    aspect-ratio: 1;
    top: 0;
    filter: blur(6rem);
    z-index: -3;
  }
</style>
