---
import Blob from "./Part/Blob.astro";
import Grid from "./Part/Grid.astro";
---

<div id="header-container" class="block-info">
  <div id="my-name-context-cut">
    <div id="right-name" class="part-name">
      <p>Kuvaev</p>
    </div>
    <div id="left-name" class="part-name">
      <p>Egor</p>
    </div>
  </div>
  <Blob />
  <Grid id="grid-for-name" class="grid-position-left-top" />
</div>

<style>
  #header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  #my-name-context-cut {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    position: relative;
    --offset-part-text: 20%;
  }

  .part-name p {
    font-size: calc(6rem);
  }

  #right-name {
    display: flex;
    align-items: flex-end;
    padding-right: var(--offset-part-text);
  }

  #left-name {
    display: flex;
    align-items: flex-end;
    padding-left: var(--offset-part-text);
  }

  .positioned-grid {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
