---
import { Image } from "astro:assets";
import arrowImg from "../img/arrow-img.svg";
---

<div id="my-photo-container">
  <div>
    <div class="arrow">
      <p id="names-block">This is me</p>
      <div>
        <Image src={arrowImg} alt="стрелка на моё фото" />
      </div>
    </div>
    <div class="my-photo"></div>
  </div>
</div>

<style>
  #my-photo-container {
    width: 100%;
    height: 100%;
  }
  #names-block {
    font-size: 5rem;
  }
</style>
