<div class="block-info offset-element">
  <p class="header-text">My skills :</p>
  <ol id="list-skills">
    <li>C#</li>
    <li>JavaScript/TypeScript</li>
    <li>HTML/CSS</li>
    <li>Vue</li>
    <li>Docker</li>
    <li>Blender</li>
  </ol>
</div>

<style>
  #list-skills {
    list-style: inside;
    font-size: 2rem;
  }
</style>
